{% extends 'base.html.twig' %}

{% block title %}Trade{% endblock %}

{% block body %}
    <h2>Trade BTC/USD</h2>
    <p>Latest Bid Rate: <span id="latest-bid">{{ latestAsset.bid }}</span></p>
    <p>Last Updated: <span id="last-updated">{{ latestAsset.dateUpdate|date('Y-m-d H:i:s') }}</span></p> <!-- Adjust date format as needed -->

    {{ form_start(form) }}
    {{ form_row(form.lotCount) }}
    {{ form_row(form.position) }}
    <button type="submit" class="btn btn-primary">Open Trade</button>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    <script>
        function fetchLatestBid() {
            fetch('{{ path('api_latest_bid') }}')
                .then(response => response.json())
                .then(data => {
                    document.getElementById('latest-bid').innerText = data.bid;
                    document.getElementById('last-updated').innerText = data.dateUpdate; // Update the last-updated element
                });
        }

        setInterval(fetchLatestBid, 1000);
    </script>
{% endblock %}
